[Desktop Entry]
Type=Application
Name=linux-drag-here
Comment=Drag and drop your ROM here to patch it
Exec=bash -c "cd \"$(dirname %k)\" && ./scripts/linux.sh '%U'"
Type=Application
